body{
    margin:0;
    background:black;
    display:flex;
    justify-content:center;
}

.game{
    position:relative;
    width:643px;
    height:388px;
    overflow:hidden;
}

.bg{
    width:100%;
    height:100%;
    object-fit:cover;
}

/* Character */
#character{
    position:absolute;
    width:80px;
    bottom:40px;
    left:20px;
    transition:0.4s;
}

/* Jump Animation */
.jump{
    animation:jumpAnim 0.4s ease;
}

@keyframes jumpAnim{
    0%{ bottom:40px; }
    50%{ bottom:120px; }
    100%{ bottom:40px; }
}

/* Hearts */
.heart{
    width:30px;
    position:absolute;
    bottom:120px;
}

.h1{ left:180px; }
.h2{ left:330px; }
.h3{ left:480px; }

/* Ring */
.ring{
    width:30px;
    position:absolute;
    bottom:120px;
    left:600px;
}

/* Button */
#jumpBtn{
    position:absolute;
    bottom:10px;
    left:50%;
    transform:translateX(-50%);
    padding:8px 25px;
    border:none;
    border-radius:20px;
    background:pink;
    font-weight:bold;
}
