body{
    margin:0;
    background:black;
    display:flex;
    justify-content:center;
}

.game{
    position:relative;
    width:643px;
    height:388px;
    overflow:hidden;
}

.bg{
    width:100%;
    height:100%;
    position:absolute;
}

/* ===== CHARACTER SPRITE ===== */

#character{
    position:absolute;
    bottom:60px;
    left:10px;

    width:128px;   /* 643 / 5 ≈ 128 */
    height:180px;

    background:url("King.png") no-repeat;
    background-size:640px 180px; /* full sprite size */

}

/* Sprite animation */
.animate{
    animation:run 0.5s steps(5) forwards;
}

@keyframes run{
    from{ background-position:0 0; }
    to{ background-position:-640px 0; }
}

/* Jump movement */
.jump{
    animation:jumpMove 0.5s ease;
}

@keyframes jumpMove{
    0%{ bottom:60px; }
    50%{ bottom:150px; }
    100%{ bottom:60px; }
}

/* ===== HEARTS aligned to fence ===== */

.heart{
    width:30px;
    position:absolute;
    bottom:150px;
}

.h1{ left:190px; }
.h2{ left:350px; }
.h3{ left:510px; }

/* ===== RING ===== */

.ring{
    width:30px;
    position:absolute;
    bottom:150px;
    left:590px;
}

/* Button */

#jumpBtn{
    position:absolute;
    bottom:10px;
    left:50%;
    transform:translateX(-50%);
    padding:8px 25px;
    border:none;
    border-radius:20px;
    background:pink;
}
