body{
    margin:0;
    background:black;
    text-align:center;
    overflow:hidden;
}

.game{
    width:643px;
    height:388px;
    margin:auto;
    position:relative;
    overflow:hidden;
}

.bg{
    width:100%;
    position:absolute;
    top:0;
    left:0;
}

.platforms{
    position:absolute;
    bottom:20px;
    width:100%;
    display:flex;
    justify-content:space-between;
    padding:0 10px;
}

.stick{
    width:20px;
    height:100px;
    background:#8B5A2B;
    border-radius:10px;
    position:relative;
}

.heart,.ring{
    width:30px;
    position:absolute;
    top:-35px;
    left:-5px;
}

#character{
    width:80px;
    position:absolute;
    bottom:100px;
    left:10px;
    transition:0.4s;
}

#jumpBtn{
    position:absolute;
    bottom:10px;
    left:50%;
    transform:translateX(-50%);
    padding:10px 25px;
    background:pink;
    border:none;
    border-radius:20px;
    font-weight:bold;
}
